name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: 0 0 * * 0

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node: 16.x
      - name: Install Packages
        run: npm install
      - name: Lint
        run: npm run -s lint

  test:
    name: Test

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        eslint: [8.x, 7.x]
        node: [18.x]
        include:
          # run on node lts(ubuntu-latest)
          - os: ubuntu-latest
            node: "16.x"
            eslint: "8.x"
          - os: ubuntu-latest
            node: "19.x"
            eslint: "8.x"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Install Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Install Packages
        run: npm install
      - name: Install ESLint ${{ matrix.eslint }}
        # We need to execute this command twice because of npm's bug.
        # See also: https://npm.community/t/error-node-modules-staging-eslint-e7cf6846-node-modules-eslint
        run: |
          npm install --no-save eslint@${{ matrix.eslint }}
          npm install --no-save eslint@${{ matrix.eslint }}
      - name: Test
        run: npm run -s test:ci
      - name: Send Coverage
        run: npm run -s codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
